$secondary-text-color: #797979;
$button-color: #2260FF;

@mixin button {
  cursor: pointer;
  color: $button-color;
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  font: inherit;

  &:hover, &:active {
    color: darken($button-color, 20%);
  }
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  :global(.node) {
    text {
      &:hover {
        fill: $button-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.searchBar {
  $height: 4.5rem;

  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 0 18px;
  height: $height;

  input[type=text] {
    flex: auto;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .searchIcon {
    color: $secondary-text-color;
  }

  .logoImage {
    max-width: 45px;
    max-height: 45px;
  }

  .clearIcon {
    color: $secondary-text-color;

    &:hover {
      cursor: pointer;
      color: darken($secondary-text-color, 10%);
    }
  }

  .results {
    position: fixed;
    top: calc(#{$height} + 2px); // leave room for border-bottom of search bar
    left: 0;
    right: 0;
    max-height: calc(100vh - #{$height} - 100px);
    overflow: scroll;
    border-bottom: 0.5px solid black;
    z-index: 2;
    background: white;

    .searchResult {
      height: 3rem;
      font-size: 1.125rem;
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-bottom: 0.5px solid black;

      > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        cursor: pointer;
        background: #eeeeee;
      }
    }
  }
}

.content {
  flex: auto;
  display: flex;
}

.viewAllButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: $secondary-text-color;
  text-transform: uppercase;
  font-size: 0.875rem;

  &:hover {
    cursor: pointer;
    color: darken($secondary-text-color, 10%);
  }
}

.leftPanel, .rightPanel {
  flex: 1 1 50%;
  position: relative;
}

.rightPanel {
  border-left: 1px solid black;
  background: white;
}

.diagram {
  position: absolute;
  top: 0;
  left: 0;
}

.entityDetails {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  padding: 1rem;

  table {
    font-size: 0.9rem;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1rem;
  }

  table, th, td {
    border: 1px solid #bbb;
  }

  th {
    background: #cce3ff;
  }

  th, td {
    text-align: left;
    padding: 0.4rem;
  }

  h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: inherit;
  }

  p {
    margin: 0.5rem 0;
  }
}

.nameCell {
  font-weight: 500;
}

.typeCell {
  display: flex;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
}

.button {
  @include button;
}

.modal {
  font-size: 1rem;
  font-weight: normal;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 2rem;
  position: relative;
  background: white;

  .closeButton {
    @include button;
    position: absolute;
    top: 0.2rem;
    right: 0.1rem;
    font-size: 1.5rem;
  }

  p {
    margin: 0 0 1rem;
  }

  ul {
    margin: 0
  }

  li {
    margin-top: 0.3rem;
  }
}

.infoButton {
  @include button;
  transform: scale(1.3) translate(0.3rem, 0.1rem);
}
